* {
  box-sizing: border-box;
}

a.baltimore-link {
  padding: 10px;
  margin-top: 50%;
  margin-left:auto;
  margin-right: auto;
  border-style: solid;
  border-radius: 10px;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  
}

.intro-container{
  display:block;
height: 300px;
width:35%;
padding: 30px;
float: left;
}

.intro-p{
  margin-bottom: 30px;
}

.e-pfp {
  border-radius: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.center-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body > header {
  background-color: #000000;
  text-align: center;

  padding: 10px;
  color: #dddddd;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
}

p {
  margin-left: 10px;
  text-indent: 25px;
}

section {
  padding: 30px;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
  background-color: #363100;
  color: #cccccc;
}

a.baltimore-link:visited {
  color: #5429ff;
}

a.baltimore-link:active {
  color: #000000;
}

a.baltimore-link:hover {
  color: #ff510d;
}

.left-align {
  text-align: left;
}

.contact-linkedin {
  width: 50px;
  height: 50px;
  float: center;
  margin: 10px;
  background-color: #000000;
}

.contact-git {
  height: 50px;
  float: center;
  margin: 10px;
  background-color: #000000;
}

footer {
  text-align: center;
}

.section-title {
  text-align: center;
}
